<% provide :title, t(".help") %>
<h1><%= t ".help_title" %></h1>
<p>
  <%= t ".help_title_1" %>
  <a href="http://www.railstutorial.org/help"><%= t ".ror_help" %></a>.
  <%= t ".help_title_2" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".ror_tut" %></em>
  <%= t ".help_title_3" %></a>.
</p>
